
body {
    background-color:#000000;
}


.hat{
position: absolute;
top: 0px;
left: 0px;
width: 100%;
height: 35%;
background: linear-gradient(45deg, #207E34, #2D8632, #509E2E, #69B129);
}

.logo{
position:absolute;
top: 0px;
left:40%;

}

.hat2{
position: absolute;
top: 350%;
left: 0%;
width: 100%;
height: 100%;
background: linear-gradient(45deg, #207E34, #2D8632, #509E2E, #69B129);

}

.hat3{
position: absolute;
top: 450%;
left: 0%;
width: 100%;
height: 100%;
background-color: #ffff;

}

.hat4{
position: absolute;
top: 650%;
left: 0%;
width: 100%;
height: 100%;
background-color: #3b3b3b;

}

.hat5{
position: absolute;
top: 550%;
left: 0%;
width: 100%;
height: 100%;
background-color: #d0d0d0;

}




.text1{
/*background:linear-gradient (45deg, #E1E088, #EFC75D, #D8A617);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;*/
font-family: "Georgia";
color: #00bbff;
font-size: 150%;
}

.text2{
color: #000000;
font-size: 150%;
/*font-family:;*/
}

.text3{
color: #a4a4a4;
font-size: 150%;
/*font-family:;*/
}

.text4{
color: #000000;
font-size: 150%;
/*font-family:;*/
}




.button{
background-color:#9E00FF;
border-radius:50px;
font-family:Trebuchet MS;
color:white;
font-size:170%;
text-decoration:none;
padding:15px 30px;
margin:22px;
}


.button:hover{
background: var(--clr);
box-shadow: 0 0 35px var(--clr);
}




